$cabin-black = #2b2b2b
$cabin-grey-light = #f2f2f2

$mobile = "only screen and (max-width: 568px)"
$desktop = "only screen and (min-width: 569px)"

@font-face
  font-display fallback
  font-family ProximaNova
  font-style normal
  font-weight normal
  src url('assets/proxima-nova-light.woff') format('woff'),
      url('assets/proxima-nova-light.ttf') format('truetype')

*
  box-sizing border-box

body
  background $cabin-black
  margin 0
  overflow hidden

.background
  height auto
  left 50%
  min-height 100%
  min-width 100%
  overflow hidden
  position fixed
  top 50%
  transform translate(-50%, -50%)
  width auto
  z-index -1
  @media (max-aspect-ratio 3/4)
    transform translate(-60%, -50%)

.background-overlay
  background #000
  bottom 0
  left 0
  opacity .5
  position fixed
  right 0
  top 0
  z-index 0

main
  align-items center
  color $cabin-grey-light
  display flex
  flex-direction column
  font-family ProximaNova, sans-serif
  font-size 16px
  height 100vh
  justify-content center
  position relative  // for stacking context
  white-space nowrap
  z-index 1
  @media $desktop
    font-size 20px

p
  margin 10px 0
  text-align right
  @media $desktop
    margin 12px 0

h1
  margin 0
  .hidden
    display none

.logo
  display block
  fill $cabin-grey-light
  height 70px
  @media $desktop
    height 90px

a
  color $cabin-grey-light
  position relative
  text-decoration none
  &::before
    background $cabin-grey-light
    bottom 0
    content ""
    height 1px
    position absolute
    transform scaleX(0)
    transform-origin 0 0
    transition transform 200ms
    width 100%
  &:hover::before
    transform scaleX(1.1)
