@import site

.page-blog
  gutter = 20px
  
  .content
    clearfix()
    visibility: hidden
    &.loaded
      visibility: visible
    section
      float: left

    hgroup
      border-top: 1px solid cabin_black
      padding: 10px 0
      h1, h2
        margin: 0
      h1
        font: bold 13px body_font
      h2
        color: cabin_grey_dark
        font: normal 13px body_font

    a
      color: cabin_black
      float: left
      margin-top: gutter
      .no-touch &:hover .img-wrapper
        position: relative
        &:after
          absolute: top left; bottom: 0; right: 0
          background-color: cabin_black
          content: ""
          display: block
          opacity: .4

    img
      width: 100%
      height: auto

    h3
      font: normal 40px/1.1 headline_font
      text-transform: uppercase
      margin: 20px 0

    section.tumblr, section.instagram, section.facebook
      margin-bottom: 40px

    section.tumblr a
      border-top: 1px solid cabin_grey_light
      padding-top: 20px
      &:first-of-type
        border-top: none
        padding-top: 0
