@import site

setup-sizes(date_size, padding)
  table:first-of-type
    margin-right: padding
  td, th
    padding: padding
  .small
    line-height: ((date_size - padding) / 2)
    size: date_size
    > span
      absolute: left (date_size / 2) top (date_size / 2)
      margin-left: -(date_size / 2)
      width: date_size
      &:first-child
        bottom: (date_size / 2 - 1); top: auto
  .day
    font: normal date_size/1 headline_font

.page-labs-yoga
  setup-sizes(80px, 20px)

  table
    light-text()
    border-top: 1px solid cabin_black
    float: left
    font: normal 30px/1 ProximaNova
    margin-bottom: 40px

  tr
    border-bottom: 1px solid cabin_grey_light
  tr.past
    opacity: .3
  td, th
    text-align: left
  td
    vertical-align: baseline

  .small
    font-size: 14px
    position: relative
    > span
      font-weight: bold
      padding-top: 3px
      text-align: center
      text-transform: uppercase
      &:first-child
        border-bottom: 1px solid cabin_black

  .day
    text-transform: uppercase

  .type
    font-size: 40px
    font-weight: bold
    text-transform: uppercase
    span
      font-weight: normal
      margin: 0 3px


@media mobile
  .page-labs-yoga
    setup-sizes(60px, 10px)
    table
      font-size: 20px
    .type
      font-size: 30px
    .d
      display: none


@media desktop
  .page-labs-yoga .m
    display: none
