// Default styles that I tend to use across all projects. Assumes normalize.css
// has already been applied.

// Prevent extra space below unfloated images.
img
  vertical-align: bottom

// <a> elements are always clickable.
a
  cursor: pointer

// Since I often delegate tapclick events, avoid highlighting the container.
.tapclick
  -webkit-tap-highlight-color: transparent
