@import nib

icon-base(size)
  hide-text()
  background-size: size size
  background-repeat: no-repeat
  background-position: center center
  display: inline-block
  height: size
  width: size

icon(filename, retina = false)
  fnSuffix = retina ? '@2x' : ''
  .icon.{filename}
    background-image: url('icons/' + filename + fnSuffix + '.png')

social-icon(network, retina = false)
  fnSuffix = retina ? '@2x' : ''
  .social .{network}, .icon.{network}
    background-image: url('icons/social/' + network + fnSuffix + '.png')


.icon-30
  icon-base(30px)

.icon
  icon-base(16px)

.social > a
  icon-base(26px)

icon(browser-shadow)
icon(edit)
icon(feature)
icon(image-upload)
icon(logout)
icon(move)
// icon(plus) is in the main stylesheet
icon(private)
icon(public)
icon(trash)

input[type="checkbox"].icon.public
  @extend .icon.private
  &:checked
    @extend .icon.public

// social-icon(behance)
social-icon(facebook)
social-icon(flickr)
social-icon(github)
// social-icon(instagram)
// social-icon(linkedin)
// social-icon(pinterest)
social-icon(tumblr)
social-icon(twitter)


@media all and (-webkit-min-device-pixel-ratio: 1.5)

  icon(browser-shadow, true)
  icon(edit, true)
  icon(feature, true)
  icon(image-upload, true)
  icon(logout, true)
  icon(move, true)
  // icon(plus, true) is in the main stylesheet
  icon(private, true)
  icon(public, true)
  icon(trash, true)

  input[type="checkbox"].icon.public
    @extend .icon.private
    &:checked
      @extend .icon.public

  // social-icon(behance, true)
  social-icon(facebook, true)
  social-icon(flickr, true)
  social-icon(github, true)
  // social-icon(instagram, true)
  // social-icon(linkedin, true)
  // social-icon(pinterest, true)
  social-icon(tumblr, true)
  social-icon(twitter, true)
