@import nib

icon(size)
  hide-text()
  background-size: size size
  background-repeat: no-repeat
  background-position: center center
  display: inline-block
  height: size
  width: size

.icon-30
  icon(30px)

.icon
  icon(16px)
  &.browser-shadow { background-image: url(icons/browser-shadow.png) }
  &.edit { background-image: url(icons/edit.png) }
  &.feature { background-image: url(icons/feature.png) }
  &.image-upload { @extend .icon-30; background-image: url(icons/image-upload.png) }
  &.logout { background-image: url(icons/logout.png) }
  &.move { background-image: url(icons/move.png) }
  // &.plus is in the main stylesheet
  &.private { background-image: url(icons/private.png) }
  &.public { background-image: url(icons/public.png) }
  &.trash { background-image: url(icons/trash.png) }

input[type="checkbox"].icon.public
  @extend .icon.private
  &:checked
    @extend .icon.public


social-icon(network, retina = false)
  fnSuffix = retina ? '@2x' : ''
  .social .{network}, .icon.{network}
    background-image: url('icons/social/' + network + fnSuffix + '.png')

.social > a
  icon(26px)

// social-icon(behance)
social-icon(facebook)
social-icon(flickr)
social-icon(github)
// social-icon(instagram)
// social-icon(linkedin)
// social-icon(pinterest)
social-icon(tumblr)
social-icon(twitter)


@media all and (-webkit-min-device-pixel-ratio: 1.5)

  .icon
    &.browser-shadow { background-image: url(icons/browser-shadow@2x.png) }
    &.edit { background-image: url(icons/edit@2x.png) }
    &.feature { background-image: url(icons/feature@2x.png) }
    &.image-upload { background-image: url(icons/image-upload@2x.png) }
    &.move { background-image: url(icons/move@2x.png) }
    // &.plus is in the main stylesheet
    &.private { background-image: url(icons/private@2x.png) }
    &.public { background-image: url(icons/public@2x.png) }
    &.trash { background-image: url(icons/trash@2x.png) }

  input[type="checkbox"].icon.public
    @extend .icon.private
    &:checked
      @extend .icon.public

  // social-icon(behance, true)
  social-icon(facebook, true)
  social-icon(flickr, true)
  social-icon(github, true)
  // social-icon(instagram, true)
  // social-icon(linkedin, true)
  // social-icon(pinterest, true)
  social-icon(tumblr, true)
  social-icon(twitter, true)
