@import nib

icon-base(width, height = width)
  hide-text()
  background-size: width height
  background-repeat: no-repeat
  background-position: center center
  display: inline-block
  width: width
  height: height

icon(filename, retina = false)
  fnSuffix = retina ? '@2x' : ''
  .icon.{filename}
    background-image: url('icons/' + filename + fnSuffix + '.png')

social-icon(network, retina = false)
  fnSuffix = retina ? '@2x' : ''
  .social .{network}, .icon.{network}, .connect li.{network}
    position: relative
    &:before
      background-image: url('icons/social/' + network + fnSuffix + '.png')
  .icon.{network}:before
    absolute: left top
    content: ""
    icon-base(16px)


.icon-30
  icon-base(30px)

.icon
  icon-base(16px)

.social > a
  hide-text()
  border-radius: 26px
  width: 26px
  height: 26px
.social > a, .connect li
  &:before
    icon-base(26px)
    absolute: left top
    content: ""
.connect li:before
  width: 30px
  height: 30px
  border-radius: 30px

icon(arrow-mini)
icon(browser-shadow)
icon(edit)
icon(feature)
icon(image-upload)
icon(logout)
icon(move)
// icon(plus) is in the main stylesheet
icon(private)
icon(public)
icon(trash)

.arrow-left, .arrow-right
  hide-text()
  position: relative
  &:before
    icon-base(14px, 13px)
    absolute: left 12px top 7px
    content: ""
.arrow-left
  &:before
    background-image: url('icons/arrow-left-grey.png')
  .no-touch &:hover:before
    background-image: url('icons/arrow-left-white.png')
.arrow-right
  &:before
    background-image: url('icons/arrow-right-grey.png')
  .no-touch &:hover:before
    background-image: url('icons/arrow-right-white.png')
.button-arrow:after
  img = 'icons/button-arrow-white.png'
  s = image-size(img)
  background-image: url(img)
  background-size: s[0] s[1]
  width: s[0]

input[type="checkbox"].icon.public
  @extend .icon.private
  &:checked
    @extend .icon.public

// social-icon(behance)
social-icon(email)
social-icon(facebook)
social-icon(flickr)
social-icon(github)
social-icon(instagram)
// social-icon(linkedin)
social-icon(phone)
social-icon(pinterest)
social-icon(tumblr)
social-icon(twitter)


@media all and (-webkit-min-device-pixel-ratio: 1.5)

  icon(arrow-mini, true)
  icon(browser-shadow, true)
  icon(edit, true)
  icon(feature, true)
  icon(image-upload, true)
  icon(move, true)
  // icon(plus, true) is in the main stylesheet
  icon(private, true)
  icon(public, true)
  icon(trash, true)

  .arrow-left
    &:before
      background-image: url('icons/arrow-left-grey@2x.png')
    .no-touch &:hover:before
      background-image: url('icons/arrow-left-white@2x.png')
  .arrow-right
    &:before
      background-image: url('icons/arrow-right-grey@2x.png')
    .no-touch &:hover:before
      background-image: url('icons/arrow-right-white@2x.png')
  .button-arrow:after
    background-image: url('icons/button-arrow-white@2x.png')

  input[type="checkbox"].icon.public
    @extend .icon.private
    &:checked
      @extend .icon.public

  // social-icon(behance, true)
  social-icon(email, true)
  social-icon(facebook, true)
  social-icon(flickr, true)
  social-icon(github, true)
  social-icon(instagram, true)
  // social-icon(linkedin, true)
  social-icon(phone, true)
  social-icon(pinterest, true)
  social-icon(tumblr, true)
  social-icon(twitter, true)
