@import nib
@import default
@import util

cabin_black = #2b2b2b
cabin_grey_dark = #929292
cabin_grey_med = #d2d2d2
cabin_grey_light = #f2f2f2
cabin_mustard = #edbc13
cabin_bronze = #ab9960
default_tap_highlight_color = rgba(26, 26, 26, 0.3)
body_font = ProximaNova, Helvetica Neue, Helvetica, sans-serif
headline_font = 'YWFT Ultramagnetic Light'  // XXX backup?
headline_size = 30px
headline_lh = 1.33
headline_height = headline_size * headline_lh
button_height = 28px


// Common  {{{1
// Site-wide defaults and functions  {{{2

body
  color: cabin_black
  font: 13px/1.23 body_font

.main .content
  clearfix()
  margin: 0 auto

a
  text-decoration: none

.headline-text
  font: headline_size/headline_lh headline_font
  text-transform: uppercase

.small-header-text
  font-weight: bold
  text-transform: uppercase

.dim-text
  color: cabin_grey_dark
  font-size: 13px
  font-weight: normal

body-text()
  font: 14px/1.3 body_font

.thin-text
  font-weight: normal

h1
  @extend .headline-text
  margin: 30px 0

button, .button
  @extend .small-header-text
  background: cabin_grey_light
  border: none
  border-radius: 2px
  color: cabin_black
  display: inline-block
  line-height: button_height - 2px
  padding: button_height - @line-height 12px 0
  &[type="submit"]
    light-text()
    background: cabin_black
    color: white
  &:hover
    light-text()
    background: cabin_bronze
    color: white

// Set the overall page width either to a max value (if passed a single
// argument) or bounded between min and max widths (with two arguments).
page-width(args...)
  nav, .content, footer
    if length(args) == 1
      max-width: args[0]
    else
      min-width: args[0]
      max-width: args[1]

// Lazy man's custom checkboxes; applying these styles allows styling the input
// element as a normal element on WebKit browsers. Falls back to a normal
// checkbox in other browsers. If we need to support other browsers later,
// another option would be display: none on the checkbox, and then use sibling
// selectors to style a label.
custom-checkbox()
  -webkit-appearance: none
  border-radius: 0
  border: none
  cursor: pointer

hover-hr(duration = 200ms)
  position: relative
  hr
    absolute: top left
    background: cabin_bronze
    border: none
    margin: 0
    size: 0 1px
    transition: width duration
  .no-touch &:hover hr, &.selected hr
    width: 100%


// nav/splash  {{{2

body > header
  absolute: top left; right: 0
  background: cabin_black url(/static/splash-dots.png)
  .backgroundsize.multiplebgs &
    background-color: cabin_black
    background-image:
      url(/static/splash-dots.png), url(/static/splash.jpg)
    background-position: center center
    background-size: 27px 15px, cover
  color: white
  display: none
  overflow: hidden

  hgroup
    absolute: left 50% top 50%
    width: 420px
    margin-left: -(@width / 2)
    height: 240px
    margin-top: -(@height / 2)

  h1, h2
    margin: 0 auto
    text-align: center
  h1
    font-size: 80px
    height: 85px
    .svg.backgroundsize &
      hide-text()
      background-image: url('cabin-logo.svg')
      background-repeat: no-repeat
      background-position: center center
      background-size: contain
  h2
    border-top: 1px solid cabin_grey_dark
    color: cabin_grey_med
    font: 18px/1.33 body_font
    letter-spacing: 1px
    margin-top: 30px
    padding-top: 24px
    text-transform: uppercase
  // These are enabled per media query.
  br
    display: none

.nav-container
  background: white
  fixed: top left; right 0
  z-index: 10
nav
  user-select: none
  position: relative
  .logo
    hide-text()
    background-image: url('cabin-symbol.svg')
    background-repeat: no-repeat
    .no-svg &
      background-image: url('cabin-symbol.png')
  .links a
    @extend .small-header-text
    color: cabin_black

// Make sure the main content is tall enough to cover the splash during
// transitions, and set up its initial position so animation works.
html, body
  height: 100%
.main
  background: white
  box-sizing: border-box
  min-height: 100%
  relative: top
  .iphone &
    margin-bottom: -60px
// Avoid page-width jump.
body
  overflow-y: scroll

body.splash
  > header
    display: block
  .main
    absolute: bottom left; top: auto
    height: 0
    min-height: @height
    overflow: hidden
    padding-bottom: 0
    width: 100%
  .nav-container, .page-about .menu
    position: absolute
  footer
    display: none

// Show everyone while transitioning.
body.splash-transition
  .nav-container, .page-about .menu
    position: absolute
  .main
    height: auto
  > header
    display: block


// Work page  {{{2

.bricks
  opacity: 0
  // masonry class is added after initial layout, so we can avoid initial
  // transitions.
  &.masonry
    opacity: 1
    transition-property: opacity, height, width
    &, .masonry-brick
      transition-duration: 300ms
      transform: translate3D(0, 0, 0)
    .masonry-brick
      transition-property: left, right, top

.work-thumb
  space_between = 80px
  hover-hr(300ms)
  border-top: 1px solid cabin_grey_light
  color cabin_black
  display: block
  float: left
  margin-bottom: (space_between / 2)
  margin-right: 20px
  padding-top: 14px
  padding-bottom: (space_between / 2)
  width: 260px

  h2, h3
    font-size 1em
    margin: 0
  h2
    @extend .small-header-text
  h3
    @extends .dim-text
    margin-bottom: 26px
  img
    margin: 0 auto
    display: block
    max-width: 100%
    height: auto


// Project page  {{{2

.page-project
  .info
    clearfix()
    margin: 30px 0 60px
  hgroup
    h1
      line-height: 1
      margin: 0 0 5px
    h2
      @extend .dim-text
      margin: 0
  .tabs *
    margin: 0
  .tab-contents
    body-text()
    > *
      display: none
    > .selected
      display: block
  a.external
    color: cabin_black
    display: inline-block
    margin-top: 10px
    .arrow-mini
      background-color: cabin_black
      vertical-align: middle
    &:hover
      color: cabin_bronze
    &:hover .arrow-mini
      background-color: cabin_bronze
  .images img
    background-color: cabin_grey_light
    clear: both
    width: 100%
    margin-bottom: 60px
    vertical-align: top
    &.shadow
      border-radius: 4px 4px 0 0
      box-shadow: 0 0 2px 1px rgba(cabin_grey_dark, .2)


// About page  {{{2
.page-about
  .content section
    body-text()
  hgroup
    margin-bottom: 1em
    h2
      @extend h1
      line-height: 1
      margin: 0 0 5px
    h3
      @extend .dim-text
      margin: 0
  .graph
    white-space: nowrap
    svg
      vertical-align: top
      display: inline-block
      text
        text-transform: uppercase
    // XXX fallback png for lame-os
  // Hide these until their image stylesheet is loaded.
  .clients a
    display: none


// <= iPhone 5 landscape  {{{1
@media only screen and (max-width: 568px)
  // nav/splash  {{{2
  nav_height = 40px

  nav
    border-bottom: 1px solid cabin_grey_light
    display: table
    width: 100%
    height: nav_height
    line-height: @height

    .logo
      background-size: 18px 15px
      background-position: center 12px
      display: table-cell
      text-indent: -999px
      width: 25%
    .links
      display: table
      table-layout: fixed
      width: 100%
      a
        border-left: 1px solid cabin_grey_light
        display: table-cell
        text-align: center
    .toggle, .social
      display: none

  body > header
    bottom: nav_height
  .main
    padding-top: nav_height
  .content
    padding: 0 20px

  body > header hgroup
    width: 240px
    margin-left: -(@width / 2)
    height: 160px
    margin-top: -(@height / 2)
    h1
      font-size: 45px
      height: 50px
    h2
      font-size: 14px
      margin-top: 20px
      padding-top: 16px
    br.m
      display: block

  footer
    display: none


  // Work page  {{{2
  breakout(page_padding = 20px)
    padding-left: page_padding
    padding-right: page_padding
    margin-left: -(page_padding)
    margin-right: -(page_padding)

  .single-column .work-thumb
    breakout()


  // Project page  {{{2
  .page-project
    .prev-next, .bottom
      display: none


  // About page  {{{2
  .page-about
    .menu
      fixed: left 0 top nav_height; right 0
      clearfix()
      light-text()
      background: cabin_black
      color: cabin_grey_dark
      font-size: 11px
      text-align: center
      text-transform: uppercase
      user-select: none
      z-index: 2
      a
        float: left
        line-height: 37px
        padding-top: 40 - @line-height  // adjust for all-caps
        width: 30%
        &:nth-child(2)
          width: 40%
      .arrow
        absolute: left top 100%
        border: 9px solid transparent
        border-top-color: cabin_black
        display: none
        margin-left: -9px  // offset so `left` can position the center
        size: 0 0
        transition: left 200ms ease-in-out

    .content > h1, .sections section, .sections section > h1, .social
      display: none
    .sections
      clearfix()
      margin-top: 40px  // .menu
      padding-bottom: 20px
      section.selected
        display: block

    section.partners .bio
      breakout()
      &:first-child
        border-top: none
      .photo
        breakout()
        display: block
        height: 91px
        margin-bottom: 20px
        // XXX should be using a cssrewrite filter instead of hardcoded
        &.bek
          background-image: url(/static/about-bek.jpg)
          background-position: 55% 38%
          background-size: cover
        &.zak
          background-image: url(/static/about-zak.jpg)
          background-position: 43% 36%
          background-size: cover

    section.graph
      breakout()
      border-top: 1px solid cabin_grey_light
      padding-top: 20px
      h2
        display: none

    section.clients
      breakout()
      div
        breakout()
        border-bottom: 1px solid cabin_grey_dark
        box-shadow: inset 0 -2px 2px -1px rgba(cabin_grey_dark, .5)
        height: 50px
        margin-bottom: 20px
        padding-bottom: 20px
        padding-top: 20px
        white-space: nowrap
        overflow-x: scroll
        -webkit-overflow-scrolling: touch
      a
        background-color: cabin_grey_dark
        margin-left: 20px
        &:first-child
          margin-left: 0
      // Fake the grey background.
      position: relative
      &:after
        absolute: left top; bottom 0; width: 100%
        background: cabin_grey_dark
        content: ""
        display: block
        opacity: .5
        pointer-events: none

    section.services
      ol
        font-weight: bold
        list-style: none
        margin: 0
        padding: 0
        ol
          body-text()
          margin: 5px 0 20px
          li
            display: inline
            &:before
              content: ",\0020"
            &:first-child:before
              content: ""

    section.connect
      ol
        list-style: none
        margin: 0
        padding: 0
      li
        breakout()
        border-bottom: 1px solid cabin_grey_light
        font: 28px/2 headline_font
        padding-top: 4px  // correct not-quite-centered font
        text-transform: uppercase
      a
        color: cabin_black
        display: block


// > iPhone 5 landscape  {{{1
@media only screen and (min-width: 569px)
  // Common  {{{2
  nav_height = 90px
  footer_height = 60px

  .nav-container
    box-shadow: 0 0 2px 2px rgba(cabin_grey_dark, .3)
  nav
    height: (nav_height / 3)
    line-height: @height
    padding: @height
    margin: 0 auto

    .logo
      background-size: 35px 30px
      float: left
      size: 35px 30px
    .links
      float: right
      overflow: hidden
      padding-right: 20px  // account for the toggle
      position: relative
      > a
        float: left
        margin-right: 20px
        padding: 0 10px
        &:hover
          color: cabin_bronze

    .social
      transition_duration = 400ms
      absolute: left 100% top
      background: white
      transition: left transition_duration
      white-space: nowrap
      width: 100%
      a
        background-color: cabin_black
        float: left
        margin-right: 10px
        relative: left 100% top
        transition: left transition_duration ease transition_duration
        &:hover
          background-color: cabin_bronze
      a:first-child
        left: 0
    // Inside the toggle is a `b` used for creating a little border on hover,
    // and a `span` element for holding the plus image so it can be rotated
    // independently of the container.
    .toggle
      padding = 10px
      absolute: right (nav_height / 3 - padding) top (nav_height / 3)
      background: white
      border-left: 1px solid white
      padding: 0 padding
      transition: border-color 500ms
      .no-touch &:hover
        border-color: cabin_grey_med
      span
        hide-text()
        text-indent: -999em
        img = 'icons/plus@2x.png'
        background-image: url(img)
        size: (image-size(img)[0] / 2) (image-size(img)[1] / 2)
        background-size: @width @height
        display: inline-block
        transition: transform 250ms ease-in-out 200ms
      &.transitioning
        transition-delay: 400ms
    .touch & .toggle
      &.transitioning
        border-color: cabin_grey_med
        transition-delay: 0

    &.show-social
      .social
        &, a
          left: 0
          transition-delay: 0
        a:nth-child(2)
          transition-delay: 100ms
        a:nth-child(3)
          transition-delay: 200ms
        a:nth-child(4)
          transition-delay: 300ms
        a:nth-child(5)
          transition-delay: 400ms
        a:nth-child(6)
          transition-delay: 500ms
      .toggle span
        transform: rotate(45deg)

  body > header
    bottom: nav_height
  .main
    padding: 0 30px
    padding-top: nav_height
    padding-bottom: footer_height + 40px

  body > header br.f
    display: block

  .footer-container
    absolute: bottom left; right: 0
    background: cabin_grey_light
    box-shadow: inset 0 2px 2px -2px cabin_grey_dark
  footer
    height: footer_height
    line-height: @height
    margin: 0 auto
    overflow: hidden
    padding: 0 30px
    &, a
      color: cabin_grey_dark
    span
      color: cabin_grey_med
      display: inline-block
      margin: 0 5px
    ol
      inline-list()
    .copyright
      float: right
      margin: 0
      text-transform: uppercase
    .logout
      float: right
      margin: 21px 20px 0 0
      opacity: .2
      &:hover
        opacity: 1


  // Work page  {{{2

  .page-work
    .work-thumb
      &.feature
        width: 540px
      // Cover the top border with the hover-hr.
      hr
        top: -1px


  // Project detail page  {{{2

  .page-project
    page-width(1100px)

    .tab-chooser a
      hover-hr()
      light-text()
      border-top: 1px solid cabin_grey_light
      color: cabin_grey_med
      display: block
      line-height: 30px
      // @extend .small-header-text -- can't work inside a media query
      font-weight: bold
      text-transform: uppercase
      // Cover the top border with the hover-hr.
      hr { top: -1px }
      &.selected, &:hover
        light-text('reset')
        color: cabin_black
      &.selected
        cursor: default

    .services
      font-weight: bold
      &, ol
        list-style: none
        padding: 0
      > li
        float: left
        margin-left: 20px
        width: 160px
        &:first-child
          margin-left: 0
      ol
        font-weight: normal
        margin-top: 5px

    .cohorts
      td:first-child
        padding-right: 50px
      a
        color: cabin_black
        display: block
      .twitter
        background-color: cabin_grey_med
        margin-right: 5px
        relative: top 2px left
      a:hover .twitter
        background-color: cabin_black

    .info
      position: relative
      .prev-next
        absolute: top right
    hgroup
      float: left
      width: 280px
    .tabs
      clearfix()
      border-right: 1px solid cabin_grey_light
      height: 150px
      margin-right: 100px
      padding-right: 39px
      > div
        float: right
    .tab-chooser
      width: 80px
      margin-right: 40px
    .tab-contents
      width: 520px
    .arrow-left, .arrow-right
      background-color: cabin_grey_light
      border-radius: 2px
      size: 38px button_height - 2px
      &:hover
        background-color: cabin_bronze

    .bottom
      text-align: center
      .social
        display: inline-block
        margin: 0 15px
        > a
          background-color: black
          &:hover
            background-color: cabin_bronze


  // About page  {{{2

  .page-about
    page-width(1100px)
    overflow-x: hidden

    breakout()
      margin-left: -200%
      margin-right: -200%
      padding-left: 200%
      padding-right: 200%

    .menu
      display: none

    .content > h1
      font-size: 80px
      line-height: 1.1
      width: auto

    .content section
      clear: both
      padding-left: 80px + 40px
      position: relative
      > h1
        absolute: top left
        border-top: 1px solid cabin_black
        font: bold 13px body_font
        line-height: 30px
        margin: 0
        width: 80px
      p
        margin: 0 0 1em

    section.summary
      > h1
        font-family: Georgia, serif
        font-size: 20px
      .email
        light-text()
        background: cabin_bronze
        color: white
        text-transform: none
        &:hover
          background: cabin_black

    .summary, .partners
      float: right
      margin-top: 60px
      max-width: 80px + 40px + 630px - (80 + 40)

    .partners
      margin-bottom: 60px
      .bio
        float: left
        width: 47%
        padding-bottom: 30px
        &:first-of-type
          margin-right: 6%
      .social
        position: absolute
        bottom: 0
        a
          background-color: cabin_black
          float: left
          margin-right: 5px
          &:hover
            background-color: cabin_bronze

    section.graph
      breakout()
      background: #ebebe7  // XXX
      box-shadow: inset 0 0 3px 2px rgba(cabin_grey_dark, .3)
      min-height: 400px
      padding-top: 40px
      padding-bottom: 60px
      h2
        font: 40px/1.1 headline_font
        margin: 0
        text-transform: uppercase

    section.clients
      breakout()
      box-shadow: 0 2px 3px 0 rgba(cabin_grey_dark, .3)
      padding-top: 40px
      padding-bottom: 40px
      z-index: 2

      > h1
        float: left
        margin-right: 40px
        margin-top: 10px
        position: static
      > div
        height: 50px
        overflow: hidden
        white-space: nowrap
      a
        background-color: cabin_bronze
        float: left
        margin-left: 27px
        &:first-child
          margin-left: 0
        &:hover
          background-color: cabin_black

    section.services
      font-size: 13px
      float: left
      margin-top: 50px
      ol.services
        font-weight: bold
        margin: 0
        &, ol
          list-style: none
          padding: 0
        > li
          float: left
          margin-left: 20px
          width: 160px
          &:first-child
            margin-left: 0
        ol
          font-weight: normal
          margin-top: 5px

    section.colophon
      background-color: cabin_bronze
      clear: none
      color: white
      float: right
      margin-bottom: -50px
      padding: 50px 20px
      width: 300px
      > h1
        light-text()
        border-top-color: white
        position: relative
        top: -7px
      .signature
        img = 'signed-cabin.png'
        background-image: url(img)
        s = image-size(img)
        background-size: s[0] s[1]
        size: s[0] s[1]

    section.connect
      display: none


  // Admin  {{{2
  // TODO: Consider pulling this out into its own stylesheet; load it only if
  // the user is logged in.

  .page-admin-project
    page-width(940px, 1100px)
    input_height = 38px

    form *
      box-sizing: border-box

    .header
      clearfix()
      h1
        float: left
      aside
        float: right
        margin: headline_height 0

    input[type="text"], textarea, .thumbnail figure, .dropper
      background: cabin_grey_light
      border: none
      box-shadow: inset 1px 1px 1px 0 rgba(cabin_grey_dark, .2)
      display: block
      outline: none
      padding: 10px
      &:focus
        outline: 1px solid cabin_grey_dark
      &.error
        outline: 1px solid red
    textarea
      resize: none
    ::-webkit-input-placeholder
      light-text()
      color: cabin_grey_med

    fieldset
      border: none
      margin: 0
      padding: 0
    form > fieldset
      margin-bottom: 20px
      padding-left: 120px
      position: relative
      > legend
        absolute: top left
        border-top: 1px solid cabin_black
        font-weight: bold
        line-height: 30px
        text-transform: uppercase
        width: 80px

    [name="is_public"], [name="is_featured"]
      custom-checkbox()
      position: relative
    [name="is_public"]
      background-color: cabin_mustard
      margin-right: 10px
      top: 3px
      &:checked
        background-color: grey
    [name="is_featured"]
      background-color: grey
      margin-right: 20px
      top: 4px
      &:checked
        background-color: cabin_mustard

    [name="title"]
      float: left
      font: headline_size/headline_lh headline_font
      size: 280 + 10*2 100  // match display width
      text-transform: uppercase
    [name="type"], [name="slug"]
      float: left
      width: 940px - 120 - 300 - 20
      margin-left: 20px
    [name="type"]
      margin-bottom: 100px - input_height * 2
    [name="brief"]
      margin-bottom: 10px
      size: 520 + 10*2 150 + 10*2 // match display size
    [name="external_url"]
      width: 420px

    [name="brief"], .services fieldset, .cohorts input
      body-text()

    .thumbnail figure, .images .dropper
      background: cabin_grey_med
      display: inline-block
      position: relative
      padding: 0
      width: 260px
      figcaption
        light-text()
        absolute: top 40% left 50%
        color: cabin_grey_med
        text-align: center
        width: 200px
        margin-left: -(@width / 2)
        span
          background-color: cabin_grey_med
          display: block
          margin: 0 auto 10px

    .thumbnail
      figure
        min-height: 150px
        &:first-of-type
          background: cabin_grey_light
          float: left
          margin-right: 20px
          min-height: 320px
          width: 540px
        img
          // Stack img on top of figcaption.
          position: relative
          width: 100%
      &.drag figure
        opacity: .5

    .services fieldset
      float: left
      margin-right: 20px
      width: 220px
      legend
        font-weight: bold
      ul
        list-style: none
        padding: 0

    .cohorts
      fieldset
        clearfix()
        input
          float: left
          margin-bottom: 10px
          margin-right: 20px
          width: 200px
        input:nth-of-type(3n + 2)
          width: 480px
        input:nth-of-type(3n + 3)
          clear: left
        .trash
          background-color: cabin_grey_med
          float: left
          margin-top: 10px
          &:hover
            background-color: cabin_black
      button
        margin-top: 10px

    .images
      margin-top: 60px
      padding-left: 0
      legend
        width: 260px
        .filename
          float: left
          max-width: 190px
          overflow: ellipsis
        .icon
          background-color: cabin_grey_med
          margin-top: 7px
          margin-left: 3px
          &:hover, &.selected
            background-color: cabin_black
      .select-multiple-files
        cursor: default  // we can't control the cursor over the input
        absolute: top 50px left
        input
          absolute: top left; right: 0; bottom: 0
          opacity: 0
      .dropper
        background: cabin_grey_light
        margin-left: 280px
        size: 540 200
        float: left
        &.drag
          outline: 1px solid cabin_grey_dark
          span
            background-color: cabin_black
          figcaption
            color: cabin_black
      .preview
        clearfix()
        clear: both
        margin-right: -20px  // make room for the last column
        padding-top: 40px
      .image, .sortable-placeholder
        float: left
        margin: 0 20px 20px 0
        position: relative
        width: 260px
        img
          transition: transform 200ms ease-in-out
          width: 100%
        legend
          absolute: top 1px left; right: 0
          background: white
          color: cabin_grey_dark
          display: none
          line-height: 30px
          text-align: right
        &:hover
          img
            transform: translate3d(0, 30px, 0)
          legend
            display: block
        &:nth-of-type(4n + 1)
          clear: left
      .sortable-placeholder
        background: cabin_grey_light

    .buttons
      margin: 80px 0 40px
      button, a
        margin-right: 10px
      .trash
        background-color: #f77
        &:hover
          background-color: cabin_black


// Assorted media queries  {{{1

// Retina images.
@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
  .backgroundsize.multiplebgs body > header
    background-image:
      url(/static/splash-dots@2x.png), url(/static/splash.jpg)
  .page-about section.colophon .signature
    background-image: url(signed-cabin@2x.png)


// At full width, tabs and the tab-chooser are displayed horizontally. As the
// browser width decreases, first we tuck the tabs underneath the title, then
// hide the tab-chooser altogether.
@media only screen and (max-width: 1159px)
  .page-project .tabs
    border-right: none
    clear: left
    float: left
    margin-top: 40px
    margin-right: 0
    padding-right: 0
@media only screen and (max-width: 699px)
  .page-project .tab-chooser
    display: none
  .page-project .images img.shadow
    border-radius: 2px 2px 0 0


// Wrap the about page's colophon when it can no longer fit next to services.
@media only screen and (min-width: 569px) and (max-width: 1070px)
  .page-about .sections section.colophon
    clear: left
    float: left
    margin-top: 40px
    width: 100%
    p
      max-width: 640px
    // breakout
    margin-left: -200%
    margin-right: -200%
    padding-left: 200%
    padding-right: 200%


// When the graph's top point would be bumping into the title, add margin.
@media only screen and (max-width: 920px)
  .page-about section.graph h2
    margin-bottom: 40px


// By default there are four columns of preview images in the project admin
// page, but knock that down to three when there's not enough room.
@media only screen and (max-width: 1159px)
  .page-admin-project .preview
    .image:nth-of-type(4n + 1)
      clear: none
    .image:nth-of-type(3n + 1)
      clear: left
