@import nib

.social
  > a
    hide-text()
    background-size: 26px 26px
    display: inline-block
    height: 26px
    width: 26px
  .behance   { background-image: url(icons/social/behance.png) }
  .facebook  { background-image: url(icons/social/facebook.png) }
  .flickr    { background-image: url(icons/social/flickr.png) }
  .github    { background-image: url(icons/social/github.png) }
  .instagram { background-image: url(icons/social/instagram.png) }
  .linkedin  { background-image: url(icons/social/linkedin.png) }
  .pinterest { background-image: url(icons/social/pinterest.png) }
  .tumblr    { background-image: url(icons/social/tumblr.png) }
  .twitter   { background-image: url(icons/social/twitter.png) }

@media all and (-webkit-min-device-pixel-ratio: 1.5)
  .social
    .behance   { background-image: url(icons/social/behance@2x.png) }
    .facebook  { background-image: url(icons/social/facebook@2x.png) }
    .flickr    { background-image: url(icons/social/flickr@2x.png) }
    .github    { background-image: url(icons/social/github@2x.png) }
    .instagram { background-image: url(icons/social/instagram@2x.png) }
    .linkedin  { background-image: url(icons/social/linkedin@2x.png) }
    .pinterest { background-image: url(icons/social/pinterest@2x.png) }
    .tumblr    { background-image: url(icons/social/tumblr@2x.png) }
    .twitter   { background-image: url(icons/social/twitter@2x.png) }
