{% extends 'base.html' %}
{% set title = 'Edit Project' %}
{% set page = 'admin-project' %}

{% macro render(field) %}
  {%- if field.errors %}
    {% set field_title = ' '.join(field.errors) %}
    {% set field_class = ('error ' + kwargs.pop('class', '')).strip() %}
  {% endif -%}
  {{ field(placeholder=field.description or field.label.text,
           title=field_title,
           class=field_class,
           **kwargs) -}}
{% endmacro %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="header">
      <h1>Edit Project</h1>

      <aside>
        {{ render(form.is_public, class='icon public') }}
        {{ render(form.is_featured, class='icon feature') }}
        <button type="submit">Save</button>
      </aside>
    </div>

    <fieldset>
      <legend>Name</legend>
      {{ render(form.title) }}
      {{ render(form.type) }}
      {{ render(form.slug) }}
    </fieldset>

    <fieldset class="thumbnail">
      <legend>Thumbnail</legend>
      <figure>
        <figcaption>Add thumbnail (540 &times; N)</figcaption>
        {% if form.thumbnail_file.data %}
          <img src="{{ image_url(form.thumbnail_file.data) }}" alt>
        {% endif %}
      </figure>
      <figure>
        {% if form.thumbnail_file.data %}
          <img src="{{ image_url(form.thumbnail_file.data) }}" alt>
        {% endif %}
      </figure>
    </fieldset>

    <fieldset>
      <legend>Brief</legend>
      {{ render(form.brief) }}
      {{ render(form.external_url) }}
    </fieldset>

    <fieldset class="services">
      <legend>Services</legend>
      {{ form.services }}
    </fieldset>

    <fieldset class="cohorts">
      <legend>Cohorts</legend>
      {% for cohort in form.cohorts %}
        <fieldset class="cohort" data-prefix="{{ cohort.name }}">
          {{ render(cohort.form.name) }}
          {{ render(cohort.form.role) }}
          {{ render(cohort.form.twitter_user) }}
          <a class="icon trash">Delete</a>
        </fieldset>
      {% endfor %}
      <button>Add cohort</button>
    </fieldset>

    <fieldset class="project-images">
      <legend>Project images</legend>
      {# render(form.images) #}
      <input type="file" multiple>
      {# XXX TODO #}
    </fieldset>

    <div class="buttons">
      <button type="submit">Save it bitches!</button>
      <a class="button" href="{{ url_for('main.work') }}">Cancel</a>
      <a class="icon trash">Delete</a>
    </div>
  </form>
{% endblock %}
