{% extends 'base.html' %}
{% set title = 'Edit Project' %}
{% set page = 'admin-project' %}

{% macro render(field) %}
  {% if field.errors %}
    {% for error in field.errors %}
      XXX: {{ error }}
    {% endfor %}
  {% endif %}
  {{ field(placeholder=field.label.text) }}
{% endmacro %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="header">
      <h1>Edit Project</h1>

      <aside>
        {{ render(form.is_public) }}
        {{ render(form.is_featured) }}
        <button type="submit">Save</button>
      </aside>
    </div>

    <fieldset>
      <legend>Name</legend>
      {{ render(form.title) }}
      {{ render(form.type) }}
      {{ render(form.slug) }}
    </fieldset>

    <fieldset>
      <legend>Thumbnail</legend>
      <img src="{{ project.thumbnail_url }}" width=540 alt>
      <img src="{{ project.thumbnail_url }}" width=260 alt>
      {# XXX render(form.thumbnail_file) #}
    </fieldset>

    <fieldset>
      <legend>Brief</legend>
      {{ render(form.brief) }}
      {{ render(form.external_url) }}
    </fieldset>

    <fieldset>
      <legend>Services</legend>
      {{ form.services }}
    </fieldset>

    <fieldset>
      <legend>Cohorts</legend>
      {% for cohort in form.cohorts %}
        XXX
        {# render(cohort.fields.name) }}
        {{ render(cohort.role) }}
        {{ render(cohort.twitter_user) #}
      {% endfor %}
      <button>Add cohort</button>
    </fieldset>

    <fieldset>
      <legend>Project images</legend>
      {# XXX #}
      {{ render(form.images) }}
    </fieldset>

    <button type="submit">Save it bitches!</button>
    <button>Cancel</button>
    <button>Delete</button>
  </form>
{% endblock %}
