{% extends 'base.html' %}
{% set title = 'About' %}
{% set page = 'about' %}

{% block content %}
  <div class="menu">
    <a data-name="partners">Partners</a>
    <a data-name="clients">Clients / Services</a>
    <a data-name="connect">Connect</a>
    <div class="arrow"></div>
  </div>

  <h1>It takes two<br>to make a thing<br>go right.</h1>
  <span class="photo bek shadow-right shadow-top"></span>
  <span class="photo zak shadow-left"></span>

  <div class="sections">
    <section class="summary">
      <h1>&#8220;</h1>

      <p>Cabin is an interdisciplinary creative agency blending modern
      technology, design, and heart. As of 2015, we are no longer taking on new
      projects.</p>
    </section>

    <section class="partners selected">
      <h1>Partners</h1>

      <div class="bio bek">
        <hgroup>
          <h2>Bek Stone</h2>
          <h3>Creative Director</h3>
          <span class="toggle"></span>
        </hgroup>

        <p><a href="https://bek.is/">Bek</a>’s passion for people and socially
        valuable pursuits has permeated her career for more than a decade. With
        a keen mind for transforming complexity into delight, and the business
        acumen to drive decisions, Bek has won the respect of clients and
        collaborators alike.</p>

        <div class="social">
          <a href="https://twitter.com/saintbek" class="twitter" target="_blank">@saintbek</a>
          <a href="https://www.instagram.com/saintbek/" class="instagram" target="_blank">Instagram</a>
          <a href="https://www.pinterest.com/saintbek/" class="pinterest" target="_blank">Pinterest</a>
        </div>
      </div>

      <div class="bio zak">
        <hgroup>
          <h2>Zak Johnson</h2>
          <h3>Technologist</h3>
          <span class="toggle"></span>
        </hgroup>

        <p><a href="https://zakj.net/">Zak</a> has architected and
        built software since the late 90s. His passion for crafting experiences
        that are fun, easy to use, and reliable has defined his work. Zak's
        intimate familiarity with the entire web stack&mdash;from
        infrastructure through the database, back end, and front
        end&mdash;enables him to build full-scale web applications.</p>

        <div class="social">
          <a href="https://twitter.com/zakj" class="twitter" target="_blank">@zakj</a>
          <a href="https://www.instagram.com/zakj/" class="instagram" target="_blank">Instagram</a>
          <a href="https://github.com/zakj" class="github" target="_blank">GitHub</a>
        </div>
      </div>
    </section>

    <section class="graph selected">
      <h2>It takes two<br>to make it out of sight.</h2>
      <hgroup class="small">
        <h2>Fun facts</h2><h3>1978&ndash;2016</h3>
      </hgroup>
      <div class="svg"></div>
      <div class="notes">
        <div class="year"></div><div class="note"></div>
      </div>
    </section>

    <section class="clients">
      <h1>Clients</h1>

      <div>
      {% for client in clients %}
        <a href="{{ client.url }}" target="_blank" class="
          {{- client.name|replace(' ', '') }}">{{ client.name }}</a>
      {% endfor %}
      </div>
    </section>

    <section class="services">
      <h1>Services</h1>

      <ol class="services">
      {% for group, services in grouped_services %}
        <li>{{ group|safe }}
          <ol>
          {% for service in services -%}
            <li>{{ service }}</li>
          {%- endfor %}
          </ol>
        </li>
      {% endfor %}
      </ol>
    </section>

    <section class="colophon">
      <h1>Colophon</h1>

      <p>Designed by Bek Stone and built by Zak Johnson in Portland, Oregon.
      Featuring the fonts
      <a href="http://www.youworkforthem.com/font/T0020/ywft-ultramagnetic" target="_blank">YWFT Ultramagnetic</a>
      by <a href="http://michaelcinaassociates.com/" target="_blank">Michael Cina</a>
      and <a href="http://www.myfonts.com/fonts/marksimonson/proxima-nova/" target="_blank">Proxima Nova</a>
      by <a href="http://www.marksimonson.com/" target="_blank">Mark Simonson</a>.
      Made with <a href="http://www.python.org/" target="_blank">Python</a>,
      <a href="http://flask.pocoo.org/" target="_blank">Flask</a>,
      <a href="http://redis.io/" target="_blank">Redis</a>,
      <a href="http://coffeescript.org/" target="_blank">CoffeeScript</a>,
      and <a href="http://learnboost.github.com/stylus/" target="_blank">Stylus</a>.
      Hosted on <a href="http://aws.amazon.com/" target="_blank">AWS</a>.</p>

      <p>We couldn’t have done it without
      <a href="http://www.armsandsleepers.com/" target="_blank">Arms and Sleepers</a>,
      <a href="http://www.laphroaig.com/" target="_blank">Laphroiag</a>,
      espresso from <a href="http://www.yelp.com/biz/albina-press-portland" target="_blank">Albina Press</a>,
      <a href="http://thebigegg.com/" target="_blank">The Big Egg</a>,
      <a href="http://www.tastenirvana.com/" target="_blank">coconut water</a>,
      <a href="http://hotyogaforlife.com/" target="_blank">hot yoga</a>,
      and two notable felines.</p>

      <div class="signature">xo</div>
    </section>

    <section class="connect">
      <ol>
        <li class="email"><a href="mailto:xo@madebycabin.com">Email</a></li>
        <li class="tumblr"><a target="_blank" href="http://madebycabin.tumblr.com/">Blog</a></li>
        <li class="facebook"><a target="_blank" href="https://www.facebook.com/madebycabin">Facebook</a></li>
        <li class="twitter"><a target="_blank" href="https://twitter.com/madebycabin">Twitter</a></li>
        <li class="flickr"><a target="_blank" href="http://www.flickr.com/photos/madebycabin">Flickr</a></li>
        <li class="github"><a target="_blank" href="https://github.com/cabin">GitHub</a></li>
      </ol>
    </section>
  </div>
{% endblock %}
