<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Cabin{% if title %} &middot; {{ title }}{% endif %}</title>
  <meta name="description" content="We are makers. We design and build experiences for people and projects we love.">

  <meta name="viewport" content="initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  {% assets 'screen.css', 'icons.css' -%}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {%- endassets %}
  {# XXX update to non-dev version #}
  <script src="/static/vendor/modernizr-latest.js"></script>
  {% block extra_head %}{% endblock %}
</head>
<body{% if splash %} class="splash"{% endif %}>
  <header>
    <h1>Cabin</h1>
    <h2>Crafting experiences for people &amp; projects we love.</h2>
  </header>

  <div class="main{% if page %} page-{{ page }}{% endif %}"><hr>
    <nav>
      <a href="{{ url_for('main.index') }}" class="logo">Cabin</a>
      <div class="links">
        <a href="{{ url_for('main.work') }}"><hr>Work</a>
        <a href="{{ url_for('main.about') }}"><hr>About</a>
        <a href="{{ url_for('main.lab') }}"><hr>Lab</a>
        <div class="social">
          <a href="https://twitter.com/madebycabin" target="_blank" class="twitter">Twitter</a>
          <a href="https://www.facebook.com/madebycabin" target="_blank" class="facebook">Facebook</a>
          <a href="http://madebycabin.tumblr.com/" target="_blank" class="tumblr">Tumblr</a>
          <a href="http://www.flickr.com/photos/madebycabin" target="_blank" class="flickr">Flickr</a>
          <a href="https://github.com/cabin" target="_blank" class="github">GitHub</a>
        </div>
      </div>
      <a class="toggle"><span>+</span></a>
    </nav>

    <section class="content"
      {%- if page %} data-page="{{ page }}"{% endif %}
      {%- if title %} data-title="{{ title }}"{% endif %}>
      {% block content %}{% endblock %}
    </section>

    <footer>
      <p class="copyright"><span>&copy;</span>Cabin 2013</p>
      <ol>
        <li><a href="mailto:xo@madebycabin.com">xo@madebycabin.com</a></li>
        <li>+1 415 255 5473</li>
        <li class="address"><a href="http://maps.apple.com/?q=4216+N+Mississippi+Ave,+97217" target="_blank">
          4216 N Mississippi Ave #315<span>&middot;</span>Portland, OR 97217</a></li>
      </ol>
    </footer>
  </div>

  {% assets 'vendor.js', 'site.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets %}
  <script>
    var h = $('body > header').backstretch('/static/test-cannon.jpg');
    var app = new AppRouter;
    $(function () {
      Backbone.history.start({pushState: true, hashChange: false});
    });
  </script>
  {% block scripts %}{% endblock %}

  {# XXX for dev only #}
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
