<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Cabin{% if title %} &middot; {{ title }}{% endif %}</title>
  <meta name="description" content="We are makers. We design and build experiences for people and projects we love.">

  <meta name="viewport" content="initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  {% assets 'screen.css', 'icons.css' -%}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {%- endassets %}
  <script src="{{ url_for('static', filename='vendor/modernizr.js') }}"></script>
  {% block extra_head %}{% endblock %}
</head>
<body{% if splash %} class="splash"{% endif %}>
  <header>
    <h1>Cabin</h1>
    <h2>Crafting experiences for people &amp; projects we love.</h2>
  </header>

  <div class="main{% if page %} page-{{ page }}{% endif %}"><hr>
    <nav>
      <a href="{{ url_for('main.index') }}" class="logo">Cabin</a>
      <div class="links">
        <a href="{{ url_for('main.work') }}">Work</a>
        <a href="{{ url_for('main.about') }}">About</a>
        <a href="{{ url_for('main.lab') }}">Lab</a>
        <div class="social">
          <a href="https://twitter.com/madebycabin" target="_blank" class="twitter">Twitter</a>
          <a href="https://www.facebook.com/madebycabin" target="_blank" class="facebook">Facebook</a>
          <a href="http://madebycabin.tumblr.com/" target="_blank" class="tumblr">Tumblr</a>
          <a href="http://www.flickr.com/photos/madebycabin" target="_blank" class="flickr">Flickr</a>
          <a href="https://github.com/cabin" target="_blank" class="github">GitHub</a>
          <a href="mailto:xo@madebycabin.com" class="email">xo@madebycabin.com</a>
        </div>
      </div>
      <a class="toggle"><span>+</span></a>
    </nav>

    <section class="content"
      {%- if page %} data-page="{{ page }}"{% endif %}
      {%- if title %} data-title="{{ title }}"{% endif %}>
      {% block content %}{% endblock %}
    </section>

    <footer>
      <p class="copyright"><span>&copy;</span>Cabin 2013</p>
      {% if current_user %}
        <a onclick="navigator.id.logout()" class="icon logout"></a>
      {% endif %}
      <ol>
        <li><a href="mailto:xo@madebycabin.com">xo@madebycabin.com</a></li>
        <li>+1 415 255 5473</li>
        <li class="address"><a href="http://maps.apple.com/?q=4216+N+Mississippi+Ave,+97217" target="_blank">
          4216 N Mississippi Ave #315<span>&middot;</span>Portland, OR 97217</a></li>
      </ol>
    </footer>
  </div>

  {#
    Backstretch depends only on vendor scripts; it should happen as soon as
    possible. Backbone+main app code of course depends on our site.js. Persona
    depends on both Mozilla's include.js and our site scripts.
    We use arrays (and jinja's `joiner`) since assets aren't combined in dev.
  #}
  <script>
    {% if not debug %}{# no need for analytics in dev #}
    window._gaq = [['_setAccount', 'UA-26897868-1'], ['_trackPageview']];
    {% endif %}
    Modernizr.load([{
      {% set comma = joiner(',') -%}
      load: [{% assets 'vendor.js' %}
        {{- comma() }}'{{ ASSET_URL }}'
      {%- endassets %}],
      complete: function () {
        $('body > header').backstretch('/static/test-cannon.jpg');
      }
    }, {
      {% set comma = joiner(',') -%}
      load: [{% assets 'site.js' %}
        {{- comma() }}'{{ ASSET_URL }}'
      {%- endassets %}],
      complete: function () {
        window.app = new AppRouter;
        $(function () {
          Backbone.history.start({pushState: true, hashChange: false});
        });
        Modernizr.load({
          load: 'https://login.persona.org/include.js',
          complete: function () {
            new PersonaHandler({{ current_user.email|tojson|safe }});
          }
        });
      },
    },
    ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js']);
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>
